@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42; /* slate-900 */
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --popover: 255 255 255;
    --popover-foreground: 15 23 42;
    --primary: 15 23 42; /* slate-900 */
    --primary-foreground: 248 250 252; /* slate-50 */
    --secondary: 241 245 249; /* slate-100 */
    --secondary-foreground: 15 23 42; /* slate-900 */
    --muted: 241 245 249; /* slate-100 */
    --muted-foreground: 100 116 139; /* slate-500 */
    --accent: 241 245 249; /* slate-100 */
    --accent-foreground: 15 23 42; /* slate-900 */
    --destructive: 239 68 68; /* red-500 */
    --destructive-foreground: 248 250 252; /* slate-50 */
    --border: 226 232 240; /* slate-200 */
    --input: 226 232 240; /* slate-200 */
    --ring: 15 23 42; /* slate-900 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 15 23 42; /* slate-900 */
    --foreground: 248 250 252; /* slate-50 */
    --card: 15 23 42;
    --card-foreground: 248 250 252;
    --popover: 15 23 42;
    --popover-foreground: 248 250 252;
    --primary: 248 250 252; /* slate-50 */
    --primary-foreground: 15 23 42; /* slate-900 */
    --secondary: 30 41 59; /* slate-800 */
    --secondary-foreground: 248 250 252; /* slate-50 */
    --muted: 30 41 59; /* slate-800 */
    --muted-foreground: 148 163 184; /* slate-400 */
    --accent: 30 41 59; /* slate-800 */
    --accent-foreground: 248 250 252; /* slate-50 */
    --destructive: 127 29 29; /* red-900 */
    --destructive-foreground: 248 250 252; /* slate-50 */
    --border: 30 41 59; /* slate-800 */
    --input: 30 41 59; /* slate-800 */
    --ring: 203 213 225; /* slate-300 */
  }
}

@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1; /* Recommended by shadcn/ui */
  }
}
